<div>
  This is the search page
  <div>
    <.header>
      <%= @title %>
    </.header>

    <.simple_form for={@form} id="search-form" phx-change="validate" phx-submit="save">
      <.input field={@form[:search]} type="text" label="" />

      <:actions>
        <.button phx-disable-with="Saving...">Search</.button>
      </:actions>
    </.simple_form>
  </div>
</div>
